@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.services {
  @include container;
  padding-block: $spacing-24;
}

.title {
  @include section-title-base;

  text-align: center;
  font-size: clamp(2.6rem, 5.2vw, 3rem);
  text-transform: uppercase;
}
.highlightTitle {
  @include section-title-highlight-base;
}

.subtitle {
  @include section-subtitle-base;

  text-align: center;
}

.grid {
  @include grid(1, $spacing-8);

  @include respond-to(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  @include flex(column, flex-start, flex-start, $spacing-4);

  padding: $spacing-8;
  background-color: $color-bg-card;
  border-radius: $border-radius-lg;
  border: .5px solid $color-border;
  transition: border-color $transition-base, transform $transition-base;

  &:hover {
    border-color: $color-secondary;

    .icon {
      transform: scale(1.1);
    }
  }
}

.icon {
  font-size: 2.5rem;
  line-height: 1;
  background: $color-bg;
  padding: 12px;
  border-radius: $border-radius-full;
}

.cardTitle {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
}

.cardDescription {
  font-size: $font-size-base;
  color: $color-text-muted;
  line-height: $line-height-base;
  margin-bottom: 0;
}

.text {
  text-align: center;
  margin-top: $spacing-16;
  color: $color-text;
  font-size: clamp(1.25rem, 1.4vw, 4rem);
  font-weight: 400;
  line-height: 1.75rem;
}

.highlightText {
  color: $color-secondary;
}