@use '../styles/abstracts/variables' as *;

.bullet {
  margin-top: 0.125rem;
  border-radius: $border-radius-full;
  background: $color-secondary;
  color: $color-bg;
  font-weight: $font-weight-bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: $spacing-3;
  height: $spacing-3;
  font-size: $font-size-xs;
}

.medium {
  width: $spacing-5;
  height: $spacing-5;
}

.large {
  width: $spacing-6;
  height: $spacing-6;
  font-size: $font-size-lg;
}